extends includes/layout
-load i18n

block content
  .page-header
    h1: -trans "Perguntas frequentes"

  -if questions
    ol
      -for question in questions
        li(id=question.id)
          h4.question= question.text
          p.answer= question.answer
  -else
    .alert.alert-info.lead: -trans "Ainda não há questões cadastradas"

  hr
  p.lead
    b: -trans "Não encontrou sua dúvida nessa página?"
    br
    -url "pages:contact" as contact_link
    -with open_link='<a href="'|add:contact_link|add:'">'|safe close_link='</a>'|safe
      -blocktrans
        | Envie-nos sua questão através do {{ open_link }}
        | formulário de contato{{ close_link }}
        | e ficaremos felizes em respondê-la.
