extends includes/layout
-load i18n

block content
  .hero-unit
    h1 Olá mundo!
    p Este é um modelo para um marketing simples ou site informativo. Use-o como um ponto de partida para criar algo mais original.
    p: a.btn.btn-primary.btn-large(href="http://twitter.github.com/bootstrap") Aprenda mais &raquo;
  .row
    .span4
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p: a.btn(href="#") View details &raquo;
    .span4
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p: a.btn(href="#") View details &raquo;
    .span4
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p: a.btn(href="#") View details &raquo;