### Requirements for {{ project_name }}

https://github.com/django/django/archive/stable/1.5.x.zip
South
django-extensions
git+https://github.com/SyrusAkbary/pyjade.git
pillow
django-imagekit
django_compressor
django-crispy-forms
django-modeltranslation>=0.5
django-grappelli>=2.4.3

# debug
django-debug-toolbar

# security
django-sha2
py-bcrypt
