### Requirements for {{ project_name }}

Django
South
django-extensions
pyjade
pillow
django-imagekit
django_compressor
django-crispy-forms

# debug
django-debug-toolbar

# security
django-sha2
py-bcrypt
