-load i18n
-load url from future
div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      h1: a.brand(href="{% url 'pages:home' %}") __project_name__
      div.nav-collapse
        ul.nav.pull-right
          li: a(href="{% url 'pages:faq' %}")
            - trans "Perguntas frequentes"
          li: a(href="{% url 'pages:contact' %}")
            - trans "Contato"
