!!! 5
html(lang=LANGUAGE_CODE)
  head
    block head
        include includes/head
  body
    header
      block header
        include includes/header

    div.container
      block content

      block footer
        include includes/footer

    include includes/scripts